@charset "UTF-8";
@media (max-width: 1920px) {
	.Hall >.SubHall > table.InfoTable tbody{
	table-layout: fixed;
	display: block;
	width: 100.4%;
	height: 97.3%;
	max-height: 100%;
	overflow-y: auto;
	overflow-x: auto;
	}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty){
	padding: 3px 3px;
	}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(1){width: 200px;} 
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(2){width: 200px;} 
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(3){width: 200px;} 
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(4){width: 200px;} 
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(5){width: 200px;} 
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(6){width: 200px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(7){width: 185px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(8){width: 183px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(9){width: 183px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(10){width: 183px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(11){width: 183px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(12){width: 183px;}
	
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(1){width: 210px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(2){width: 210px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(3){width: 210px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(4){width: 210px;font-size: xx-small;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(5){width: 210px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(6){width: 210px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(7){width: 160px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(8){width: 160px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(9){width: 160px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(10){width: 163px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(11){width: 160px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(12){width: 160px;}
}